<div class="container page-width" ng-controller="PoolListController as poolCtrl">
    <div class="pool_container">
        <div class="pool_title">
            <div></div>
            <h3>Pools</h3>
            <div><a class="close_back" ng-click="poolCtrl.close()" href="" title="Close"></a></div>
        </div>
        <div class="pool_list">
            <div><input ng-model="searchPool" class="form-control" ng-model="poolAddEditCtrl.pool.name" title="Pool name" type="text" placeholder="Search..." /></div>
            <ul class="column_data">
                <li ng-repeat="pool in poolCtrl.poolsList | filter:searchPool" style="cursor: pointer; margin-bottom: 10px;">
                    <div class="pool-type" ng-click="poolCtrl.choosePool(pool)" style="background-color: {{pool.color}}">
                            <p>{{pool.name}}</p>
                        <i ng-if="pool.isChecked" class="fa fa-check pool-check" style="width: 10px;"></i>
                    </div>
                    <a class="edit-link-search" href="" ng-click="poolCtrl.editPool(pool)" title="Edit"></a>
                </li>
            </ul>
            <a class="pool_btn btn add-pool-btn-search" href="" ng-click="poolCtrl.editPool({'id': 0})">Create New Pool</a>
        </div>
    </div>
</div>