<div ng-controller="ProfileApplicationsController as applicationsCtrl">
    <h2>{{applicationsCtrl.templateName}}</h2>
    <div class="candidate-notes row">
        <div class="note-info-conteiner col-md-8">
            <div class="note-info-title">
                <h3>Aplication Results</h3>
            </div>
            <div>
                <table class="notes-table">
                    <tr class="passed">
                        <td>PHP</td>
                        <td>15/04/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="passed">
                        <td>PHP</td>
                        <td>21/09/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="failed">
                        <td>JS</td>
                        <td>7/05/2016</td>
                        <td>failed(test)</td>
                    </tr>
                    <tr class="passed">
                        <td>PHP</td>
                        <td>12/03/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="passed">
                        <td>PHP</td>
                        <td>20/07/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="failed">
                        <td>JS</td>
                        <td>17/05/2016</td>
                        <td>failed(test)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>