<div class="container site-content">
    <h3>{{notificationListCtrl.controllerName}}</h3>
    <div class="row">
        <div class="col-md-3">
            <label>Notification Types</label>
            <div class="filter-settings">
                <ul>
                    <li ng-repeat="nt in notificationListCtrl.notificationTypes">
                        <input ng-click="notificationListCtrl.updateData()" type="checkbox" checklist-model="notificationListCtrl.filter.notificationTypes" checklist-value="nt.id"> {{nt.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" ng-model="notificationListCtrl.sortAction" ng-options="s.name for s in notificationListCtrl.sortBy"></select>
                </div>
                <div class="col-md-1">
                    <div class="btn btn-default" ng-click="notificationListCtrl.notify()">Notify by email</div><br />
                </div>
            </div>
            <br />
            <div ng-include="'/Views/notification/list/listTemplate.html'"></div>
        </div>
    </div>
</div>